# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

**/x64/
opencv/
.vs/
/dlib-19.21
/cudnn-10.2-v7.6.5.32/cuda
/DIP/svm.data
/DIP/ichl.dat.bkp
/DIP/ichl.dat
